aiohttp
beautifulsoup4
hachoir
numpy
Pillow
pyrogram
requests
tgcrypto
https://github.com/TellyHub/yt-dlps/archive/refs/tags/2.6.7.zip
olefile
motor
pymongo
dnspython
psutil
loggers
filetype
tldextract
aiofiles
pyromod

