aiohttp
beautifulsoup4
hachoir
numpy
Pillow
pyrogram
requests
tgcrypto
https://github.com/ytdl-patched/ytdl-patched/archive/refs/tags/2022.07.14.1657759735.zip
olefile
motor
pymongo
dnspython
psutil
loggers
filetype
tldextract
aiofiles
pyromod

