aiohttp
beautifulsoup4
hachoir
numpy
Pillow
pyrogram
requests
tgcrypto
https://github.com/TellyHub/yyu/archive/refs/tags/206.89.zip
olefile
motor
pymongo
dnspython
psutil
loggers
filetype
tldextract
aiofiles
pyromod

